/* :root{
  --main-color:#fff;
}

body{
  background-color: var(--main-color);
}
*/
/* Not found page */
.not-found{
  background-image: url('../src/assets/notFoundbg.png');
  background-position: center center;
  background-size: cover;
}

.not-found-page{
  background-color: #0E382F;
  color: #fff ;
  position: relative;
}
.not-found-page .overlay{
  background-color: rgba(0, 0, 0, 0.255);
  position: absolute;
  width: 100%;
  height: 100%;
}
.not-found-img{
  width: 100%;
  max-width: 600px;
}
